
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="text-align:center">Istatikler</h2>
<br />
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.mission1</h3>

                        <p> Toplam kategori sayısı</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.mission2</h3>

                        <p>  Başlık tablosunda "yazılım" kategorisine ait başlık sayısı</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.mission3</h3>

                        <p> Yazar adında 'a' harfi geçen yazar sayısı</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box btn-group-xs">
                    <div class="inner">
                        <h3>@ViewBag.mission4</h3>

                        <p> En fazla başlığa sahip kategori adı</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.mission5</h3>

                        <p> Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</p>

                    </div>
                </div>
            </div>
            </div></div></section>