@model EntityLayer.Concrete.Category
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<h1>Yeni Kategori Ekleme</h1>
<br />
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName)
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    @Html.Label("Kategori Açıklama")
    @Html.TextBoxFor(x => x.CategoryDescription)
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />
    <button class="btn btn-success"> Kaydet</button>
</div>
}
